@import "typography";
@import "mobile.scss";

body {
  margin: 0;
  font-size: 15px;
  font-family: 'Spartan', sans-serif;

  background-color: hsl(180, 52%, 96%);
}

header {
  height: 100px;
  width: 100%;
  background-image: url("../assets/header_images/bg-header-desktop.svg");
  background-color: hsl(180, 29%, 50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .filter {
    width: 960px;
    background-color: white;
    transform: translateY(50%);
    border-radius: 10px;
    box-shadow: 0px -17px 46px -13px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .filter-container{
      width: 100%;
      display: flex;
      padding: 1em;
      justify-content: space-between;
      align-items: center;
    }

    .tablets {
      gap: 1em;

      span {
        background-color: hsl(180, 52%, 96%);
        padding: 0.5em 0 0.5em 0.5em;
        margin-right: 1em;

        color: $primary;

        &:hover {
          cursor: pointer;
        }

        /*TODO: Make after element a square. The Cross has to be thicker.*/
        &:after {
          background-color: $primary;
          content: 'X';
          color: white;
          font-weight: 700;
          padding: 0.5em;
          margin-left: 0.5em;
        }
      }


      &:hover:after {
        color: white;
        background-color: $darkest-cyan;
      }
    }

    .clear-button {
      line-height: 40px;
      height: 40px;
      vertical-align: middle;
      text-decoration: underline;
      color: $primary;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.job-listings > div {
  margin: 0 auto;
  max-width: 960px;
  margin-top: 5em;

  .job-container {
    display: flex;
    gap: 2em;
  }

}

.job-item > div {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1em;

  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .company-name {
      color: $primary;
      font-weight: 700;
    }

    .job-title {
      font-weight: 700;
      &:hover{
        color: $primary;
        cursor: pointer;

      }
    }

    .job-footer {
      ul {
        padding-left: 0;
        display: flex;
        flex-direction: row;;
        justify-content: space-between;
        margin: 0;
        gap: 2em;
        color: $darkest-cyan;

        li{
          list-style-type: none;
          color: $dark-cyan;
          &:not(:first-of-type){
            list-style-type: disc;

          }
        }

      }
    }

  }

  .job-tags {
    display: flex;
    align-items: center;
    gap: 1em;
    text-transform: capitalize;

    span {
      background-color: hsl(180, 31%, 95%);
      color: hsl(180, 29%, 50%);
      padding: 0.5em;

      &:hover {
        background-color: hsl(180, 8%, 52%);
        cursor: pointer;
        color: white;
      }
    }
  }
}

